@value greenColor, orangeColor, darkGrayColor from "styles/colors.css";

.header {
  --first-color: white;
  --last-color: orangeColor;
  /* border: 1rem solid black; */
  max-width: 30rem;
  min-width: 20rem;
  width: 30%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: headerColor 1s linear forwards;
  /* background: linear-gradient(-20deg, transparent 75%, black 25%); */
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.5);
  animation: headerColor 1s linear forwards;
}

.profile {
  position: fixed;
  top: 6%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile img {
  width: 100%;
  background-color: darkGrayColor;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.profile img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.nav h1 {
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: bold;
}

.nav li {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.border {
  height: 3rem;
  /* background-color: black; */
  width: 0.3rem;
  transform: translateX(50%);
  border-left: 3px dashed black;
}
.nav li > span {
  margin-left: 1rem;
}
.nav li:hover {
  cursor: pointer;
  color: greenColor;
}

.profile-rocket > svg {
  color: indigo;
  font-size: 6rem;
  z-index: 1000;
  position: absolute;
  top: 1%;
  left: 1%;
}
.profile-rocket::before {
  content: "";
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  width: 6rem;
  z-index: 1000;

  height: 6rem;
  border-radius: 50%;
  background-color: greenColor;
}
@keyframes headerColor {
  0% {
    background-color: var(--first-color);
  }
  100% {
    background-color: var(--last-color);
  }
}
