@value greenColor, orangeColor from "styles/colors.css";

.icon-row {
  position: fixed;
  bottom: 10%;
}

.icon-row > ul {
  display: flex;
  align-content: center;
}

.icon-row > ul > li {
  font-size: 4rem;
  margin: auto 1rem;
  transition: all 0.2s ease-in-out;
}
.icon-row > ul > li:nth-child(2) {
  font-size: 3rem;
}

.icon-row > ul > li:hover {
  cursor: pointer;
  color: greenColor;
}
