@value greenColor,darkPurple, lightOrangeColor, hotPink, redPurple, orangeColor, darkGrayColor, skyBlue from "styles/colors.css";
.article {
  /* margin-top: 10rem; */
  font-size: 1.6rem;
  font-family: "NEXON Lv1 Gothic OTF Light";
  line-height: 3rem;
}

.category h3 {
  font-size: 3rem;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  align-items: flex-end;
}
.category h3 > p {
  font-family: "NEXON Lv1 Gothic OTF Light";
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.personal h4,
.team h4,
.category h4 {
  font-size: 2rem;
  margin: 2rem 0;
  font-family: "NEXON Lv1 Gothic OTF";
}

.personal {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.team > div {
  padding-bottom: 3rem;
}

.personal > div > ul,
.team > div > ul {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1500px) {
  .personal {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .personal > div > ul,
  .team > div > ul {
    flex-direction: column;
  }
}
