@value greenColor, grayColor, orangeColor from "styles/colors.css";

.home {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  height: 100vh;
  flex-direction: column;
  background-color: grayColor;
  overflow: hidden;
  position: relative;
  /* background: linear-gradient(20deg, #809b8b, #415663, #090a13); */
}

.home::after {
  content: "";
  width: 80rem;
  background-color: blue;
  height: 80rem;
  border-radius: 10rem;
  position: absolute;
  bottom: -20%;
  right: -10%;
  opacity: 0.5;
}

.home h2:not(.highlight h2) {
  z-index: 999;
  font-size: 10rem;
  font-family: "Cafe24Ohsquare";
  padding: 2rem 0;
  color: white;

  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000;
}

.highlight {
  font-size: 10rem;
  font-family: "Cafe24Ohsquare";
  padding: 2rem 0;
  background: linear-gradient(
    to right,
    white,
    greenColor,
    greenColor,
    greenColor
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rocket {
  position: absolute;
  top: 3rem;
  font-size: 10rem;
  color: yellow;
  animation: floating 10s linear infinite;
}

.star {
  position: absolute;
  bottom: 10%;
  transform: rotate(120deg);
  right: 10%;
  font-size: 10rem;
  color: violet;
  animation: floating2 10s linear infinite;
}

.moon {
  position: absolute;
  top: 20%;
  transform: rotate(120deg);
  right: 30%;
  font-size: 10rem;
  color: tomato;
  animation: floating2 10s linear infinite;
}
@keyframes floating {
  0% {
    transform: translate(-10%, 20%);
  }
  25% {
    transform: translate(25%, 20%);
  }
  50% {
    transform: translate(50%, -15%);
  }
  75% {
    transform: translate(10%, -30%);
  }
  100% {
    transform: translate(-10%, 20%);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(10%, -30%);
  }
  25% {
    transform: translate(-10%, 20%);
  }
  50% {
    transform: translate(25%, 20%);
  }
  75% {
    transform: translate(50%, -15%);
  }
  100% {
    transform: translate(10%, -30%);
  }
}
