@value greenColor,darkPurple, lightOrangeColor, hotPink, redPurple, orangeColor, darkGrayColor from "styles/colors.css";

.article {
  /* margin-top: 10rem; */
  font-size: 1.6rem;
  font-family: "NEXON Lv1 Gothic OTF Light";
  line-height: 3rem;
}

.emoji {
  position: absolute;
  z-index: -1;
  top: -20rem;
  right: 30%;
  display: inline-block;
  width: 20rem;
  background-color: white;
  border-radius: 50%;
}

.hash-row {
  margin-top: 1rem;
}
.hash {
  border: 2px solid black;
  background-color: greenColor;
  font-family: "NEXON Lv1 Gothic OTF";
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 2rem;
}
.hash:last-child {
  background-color: hotPink;
  margin-left: 0.5rem;
}
.emoji img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}
.article > p {
  margin: 2rem 0;
}

.article strong {
  font-weight: 900;
}

.contact {
  font-size: 1.6rem;
  display: grid;
  margin: 2rem 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  font-family: "NEXON Lv1 Gothic OTF";
  line-height: 3rem;
}

.contact strong {
  font-weight: 600;
  background-color: lightOrangeColor;
  padding: 0.2rem 0 0 0;
  border-radius: 1rem;
  display: inline-block;
  width: 10rem;
  text-align: center;
  margin-right: 1rem;
}

.contact p:first-child strong {
  background-color: lightcoral;
}

.contact p:nth-child(2) strong {
  background-color: redPurple;
}
.contact p:last-child strong {
  background-color: hotPink;
}
.link {
  margin-left: 0.5rem;
  transition: color 0.2s ease-in-out;
}
.link:hover {
  cursor: pointer;
  color: redPurple;
}
.switch {
  position: absolute;
  bottom: 2rem;
  left: 28rem;
  font-family: "NEXON Lv1 Gothic OTF";
  animation: fadeIn 2s ease-in-out forwards;
  font-size: 1.7rem;
  visibility: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
