@value darkGrayColor, greenColor,darkPurple, lightOrangeColor, hotPink, redPurple, orangeColor from "styles/colors.css";
.article {
  margin-top: 5rem;
  margin-left: 5%;
  font-family: "NEXON Lv1 Gothic OTF";
}
.time {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.time strong {
  display: inline-block;
  font-weight: 600;
  width: 17rem;
}
.bar {
  width: 0.2rem;
  transform: translateX(200%) scaleY(1.2);
  background-color: darkPurple;
  height: 5rem;
}
.circle {
  margin-right: 2rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: darkPurple;
  border-radius: 50%;
}

.detail {
  margin-left: 1.5rem;
  color: #414141;
  font-weight: 600;
  background-color: greenColor;
  padding: 0.2rem 0.5rem;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.detail svg {
  vertical-align: middle;
  transform: translateY(-10%);
}
.detail:hover {
  background-color: redPurple;
  color: white;
}
